@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ClickerScript-Regular';
	src:url('../fonts/clicker-script/ClickerScript-Regular.ttf') format('truetype');
}

body{
	margin:0 auto;
	padding:0;
	text-align:center;
}
ul{
	list-style:none;
}
canvas{
	display:inline-block;
}

.main-title{
	font-size:2em;
	margin:0.67em 0;
}
.large-header{
	position:relative;
	width:100%;
	background:#333;
	overflow:hidden;
	background-image:url(../images/img1.png);
	background-size:cover;
	background-position: center bottom;

	z-index:1;
}
h1.main-title{
	position:absolute;
	margin:0;
	padding:0;

	font-family:'Clicker Script', cursive;
	font-weight:normal;
	font-size:8em;
	color:#f9f1e9;
	padding-left:10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,.4);
	text-align:center;
	top:50%;
	left:50%;

	-webkit-transform:translate3d(-50%, -50%, 0);
	transform:translate3d(-50%, -50%, 0);
}
h1.main-title::before{
	position:absolute;
	top:50%;
	left:50%;
	
	content:'';
	width:20px;
	height:20vw;
	min-width:3.5em;
	min-height:3.5em;
	background:url(../images/1-8.svg) no-repeat center center;
	background-size:cover;
	border-radius:50%;

	-webkit-transform:translate3d(-50%, -50%, 0);
	transform:translate3d(-50%, -50%, 0);

	z-index:-1;
	
}

.main-title .thin{
	font-weight:200;
}
/*---------- section-----------------*/
section{
	position:relative;
	width:100%;
}
section ul{
	position:relative;
	margin-top:30px;
	align-items: center;
}
section ul li{
	position: relative;
	width:100%;
	text-align: center;
}
/*---------------footer--------------*/
footer{
	position:relative;
	width:100%;
	height:100px;
	background-color:#121e12;
}

footer span{
	color: #e3d5c8; 
	text-align: center;
	line-height: 5rem;
}


@media only screen and (max-width: 768px) {
	h1.main-title{
	font-size:4em;
	}
}

/*동영상 중간 라인 용*/
.line{
	width: 60%;
	height: 1px;
	border: 1px dotted darkgoldenrod;
	margin-left: 22%;
	/* background: darkgoldenrod; */
}

/* vidoe style **/
video{
	width: 60%;
	margin-bottom: 20px;
}

/*버튼 스타일*/
.button {
  display: inline-block;
  /*border-radius: 4px;*/
  background-color: #a4a267;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}